<section class="wrapper-bg-white">
  <div class="container padding-top-40px padding-bottom-100px">
    <h2 class="section-title-home" style="font-size:30px;">
      <div class="section-title-home-content" style="background-color: white;">
        Du temps pour construire sereinement son avenir
      </div>
    </h2>
    <div class="padding-top-60px">

      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="card-background">
            <div class="card-background-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'developpementpersonnel.png' %>');">
              <div class="card-background-category bg-red">Développement personnel</div>
              <div class="card-background-description">
                <h4 class="text-center">Développe ta personnalité</h4>
              </div>
              <!--     <img class="card-background-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
              <a class="card-background-link" href="#" ></a>
            </div>

            <div class="card-background-explication border-bottom-red">
              <p class="margin-top-20px">Pour s'épanouir, faire des choix conscients et développer des relations humaines constructives, il est indispensable de se connaître et de reconnaître l’altérité. Les <strong>ateliers de développement personnel</strong> permettent de prendre conscience de son potentiel, de ses émotions mais aussi de son corps et de ses limites, et d’apprendre quand et comment les dépasser. Ils stimuleront également son aptitudes à évoluer en équipe. </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-background">
            <div class="card-background-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'ouverture.png' %>');">
              <div class="card-background-category bg-green">Ouverture sur le monde</div>
              <div class="card-background-description">
                <h4 class="text-center">Eveille toi et trouve ce qui te plaît</h4>
              </div>
              <!--     <img class="card-background-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
              <a class="card-background-link" href="#" ></a>
            </div>

            <div class="card-background-explication border-bottom-green">
              <p class="margin-top-20px">Ces ateliers ont pour but de développer les aptitudes et les compétences des élèves et leur donner les outils nécessaires à leurs apprentissages. </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card-background">
            <div class="card-background-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'tools.png' %>');">
              <div class="card-background-category bg-yellow">développement personnel</div>
              <div class="card-background-description">
                <h4 class="text-center">Adopte les bon outils et methodologies</h4>
              </div>
              <!--     <img class="card-background-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
              <a class="card-background-link" href="#" ></a>
            </div>

            <div class="card-background-explication border-bottom-yellow">
              <p class="margin-top-20px">Ces ateliers s'intéressent aussi bien aux sciences exactes qu'aux sciences humaines et sociales. Ils servent surtout élargir le champ des connaissances et à mettre en pratique les méthodes et outils assimilés. On ne peut tout apprendre, aussi, les ateliers proposés abordent des questions et des réflexions contemporaines </p>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="card-background">
              <div class="card-background-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'tutor.png' %>');">
                <div class="card-background-category bg-blue">développement personnel</div>
                <div class="card-background-description">
                  <h4 class="text-center">Décide avec dicernement</h4>
                </div>
                <!--     <img class="card-background-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
                <a class="card-background-link" href="#" ></a>
              </div>

              <div class="card-background-explication border-bottom-blue">
                <p class="margin-top-20px">Ces ateliers s'intéressent aux diverses formes de création et d’expression artistique. Ils permettent de se libérer d'inhibitions, de la crainte de la création, du jugement et du risque. </p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="card-background">
              <div class="card-background-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'action2.png' %>');">
                <div class="card-background-category bg-orange">développement personnel</div>
                <div class="card-background-description">
                  <h4 class="text-center">Passe à l'action</h4>
                </div>
                <!--     <img class="card-background-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
                <a class="card-background-link" href="#" ></a>
              </div>

              <div class="card-background-explication border-bottom-orange">
                <p class="margin-top-20px">Ces ateliers s'intéressent aux diverses formes de création et d’expression artistique. Ils permettent de se libérer d'inhibitions, de la crainte de la création, du jugement et du risque. </p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="card-background">
              <div class="card-background-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'happy-lift.png' %>');">
                <div class="card-background-category bg-dark-gray">développement personnel</div>
                <div class="card-background-description">
                  <h4 class="text-center">Démarre ta vie</h4>
                </div>
                <!--     <img class="card-background-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
                <a class="card-background-link" href="#" ></a>
              </div>

              <div class="card-background-explication border-bottom-dark-gray">
                <p class="margin-top-20px">Ces ateliers s'intéressent aux diverses formes de création et d’expression artistique. Ils permettent de se libérer d'inhibitions, de la crainte de la création, du jugement et du risque. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-top-60px text-center">
      <button class="btn btn-red">Lire le programme</button>
    </div>
  </div>
</section>
