<section class="wrapper-bg-white">
  <div class="container padding-top-40px padding-bottom-100px">
    <h2 class="section-title-home" style="font-size:30px;">
      <div class="section-title-home-content" style="background-color: white;">
        Equipe
      </div>
    </h2>
    <div class="container">
      <div class="row">

        <div class="col-xs-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-red">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-red">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-red">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-red">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-red">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
                <div class="col-xs-6 col-md-4">
          <div class="card-team" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bertrand.png' %>');">
            <div class="card-category bg-red">Coach sportif</div>
            <div class="card-description">
              <h2>Bertrand Matelart</h2>
            </div>
            <div class="card-user">
<!--               <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> -->
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
