<!-- BANNER -->

<section class="banner-homepage" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 50%), url('<%= image_path 'banner.png' %>');">
  <div class="container">
    <div class="row text-center">
      <h2>Le Lift - Life Bootcamp</h2>
      <h1>Démarer sa vie : se trouver et trouver sa voie</h1>
      <br>
      <p>Le lift permet aux <strong>esprits singuliers de construire sereinement leur avenir.</strong></p>
      <br>
    </div>
  </div>
</section>

<!-- CTA -->

<div class="container">
  <div class="row text-center margin-verti-20px">
    <br>
    <button class="btn btn-white">Découvrez notre programme</button>
    <button class="btn btn-red">Postulez</button>
  </div>
</div>


<!-- OBJECTIFS - Voir le programme -->
<%= render 'shared/objectif' %>

<!-- L'ECOLE -->


<!-- L'EQUIPE -->
<%= render 'shared/team' %>


<!-- LE LIFT - YOUTUBE -->
<%= render 'shared/lelift-youtube' %>

<!-- POUR QUI -->
<%= render 'shared/who' %>

<!-- TESTIMONIALS -->
<%= render 'shared/testimonials' %>

<!-- LIFTEURS -->
<%= render 'shared/lifteur' %>

<!-- ACTUALITES -->

<!-- NEWSLETTER -->
<%= render 'shared/newsletter' %>






